@model TheNuggetList.WebUI.ViewModels.ChangePasswordViewModel

@{
    ViewBag.Title = "ChangePassword";
}

<form method="post" id="LoginForm" action="?">
<fieldset>
	<legend>Change Password</legend>
	<h2>Change Password</h2>
	@Html.ValidationSummary()
	@Html.EditorForModel()
	<input type="submit" title="Change Password" />
</fieldset>
</form>
