@{
    ViewBag.Title = "My Account";
}

<h2>My Account</h2>

<ul>
	<li><a href="/MyAccount/ChangePassword/">Change password</a></li>
	<li><a href="/MyAccount/EditDetails/">Edit details</a></li>
	<li><a href="/MyAccount/Achievements/">Achievements</a></li>
</ul>