@model TheNuggetList.WebUI.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Login";
}

<form method="post" id="LoginForm" action="?">
	<fieldset>
		<legend>Login</legend>
        <h2>Login</h2>
        @Html.ValidationSummary()
        @Html.EditorForModel()

        <input type="submit" title="Login" />
    </fieldset>
</form>
